:root {
  /*
    Name variables by their use: background-light, text-dark, etc.
    -> Thus no need to change them throughout the document every time a color changes
  */
  --main: #f5f536;
  --text-dark: #443850;
  --text-light: #f9f8f8;
  --background-light: #f9f8f8;
  --background-darker: #C0C5C1;
  --background-even-darker: #7D8491;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--background-light);
}

nav {
  background-color: var(--main);
  font-family: 'Nunito', sans-serif;
}

#managementText {
  margin: 5px;
}

.products-display {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.product-thumbnail {
  display: inline-block;
  height: 200px;
  width: 31%;
  margin: 1%;
  background-color: var(--background-even-darker);
}

#productsdiv {
  min-height: 80vh;
}

#loginform {
  min-height: 72vh;
}

.navbar-left 

#searchbar {
  width: 500px;
  left: 50px;
  padding: 5px;
  
}

.carousel {
  padding: 10px;
}

.carousel-item {
  max-height: 600px;
}

.carousel-item img {
  object-fit: contain;
  max-height: 600px;
}

.carousel-item {
  color: black;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.category {
  margin-top: 20px;
  margin-bottom: 20px;
}

.properties {
  padding: 3px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.btn-primary, .btn-secondary {
  margin-right: 10px;
}

/*
#carouselImage {
  height: 100vh;  
  margin-left: 20px;  
}*/

.saleProdCard {
  padding: 5px;
  margin-block-start: 5px;
}

/*[class^="card"] {
  padding: 5px;
  margin-block-end: 5px;
}*/
/*
*[class^="card.img"], card.img {
  height: 150px;
  width: auto;
}*/

.prodCard {
  padding: 3px;
  max-height: 500px;
  display: inline-table;
}

.title {
  max-height: 30px;
  font-size: medium;
  text-align: justify;
  padding-bottom: 3px;
}

.catlist {
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.prodMenu {
  margin-bottom: 20px;
  padding-right: 5px;
}

.prodlist {
  margin-top: 30px;
  margin-bottom: 30px;
}

.shoppingCart {
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.btn {
  margin-left: 20px;
}

.prodtable {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--text-black);
  display: block;
  text-align: left;
  padding: 10px;
}

.prodtable th, td {
  padding: 5px;
  padding-right: 20px;
}

.addprodlist {
  margin-top: 5px;
  display: table-row-group;
}

.addlist {
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.addprodlist h3 {
  margin-top: 30px;
}
.register {
  margin-top: 40px;
  margin-bottom: 40px;
}

footer {
  position: relative;
  bottom: 0;
  background-color: var(--background-darker);
}

#footerIcons {
  margin-top: 10vh;
}

#text {
  color: var(--text-dark);
  font-size: 23px;
}

#icon{
  text-decoration: none;
  color: var(--text-dark);
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  padding: 5px;  
}

.bi{
 margin-left: 20px;  
}

.nav-item a {
  text-decoration: none;
}

#navbarDropdown {
  color: var(--text-dark);
  font-size: 23px;
}

.dropdown-item:hover {
  color: var(--text-light);
  background-color: var(--background-even-darker);
}

li {
  list-style: none;
}

.form-group{
  margin: 20px;
}

#submitButton {
  margin: 5px;
}

table {
  display: flex;
  margin: 10px;
  margin-right: auto;
  color: var(--text-black);
}

#addCart {
 margin: 5px;
}

.header {
  padding: 10px;
}

#cards {
  padding: 5px;
  margin: 5px;
  margin-left: 20px;
}

#saleText {
  margin-left: 20px;
  padding: 10px;
}

h4 {
  color: red;
}
#productOverline {
  text-decoration: line-through;
}

#saleprice {
  color: red;
}
