:root { /* Color palette?*/

  --orange-web: #faa318;
  --raisin-black: #272838;
  --rhythm: #7e7f9a;
  --cultured: #f9f8f8;
  --light-pink: #ffa5ab;
}


body {
  font-family: 'Nunito', sans-serif;
  background-color: #f9f8f8;
}

nav {
  background-color: var(--orange-web);
  font-family: 'Nunito', sans-serif;
}

.products-display {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.product-thumbnail {
  display: inline-block;
  height: 200px;
  width: 31%;
  margin: 1%;
  background-color: var(--rhythm);
}

#productsdiv {
  min-height: 80vh;
}

#loginform {
  min-height: 72vh;
}

.navbar-left 

#searchbar {
  width: 500px;
  left: 50px;
  padding: 5px;
  
}

footer {
  position: relative;
  background-color: var(--light-pink);
  height: 100%;
}
#text {
  color: var(--raisin-black);
  font-size: 23px;
}
#icon{
  text-decoration: none;
  color: var(--raisin-black);
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  padding: 5px;
  
  
}
.bi{
 margin-left: 10px;
  
}

#navbarDropdown {
  color: var(--raisin-black);
  font-size: 23px;
}

.dropdown-item:hover {
  color: var(--cultured);
  background-color: var(--rhythm);
}


.carousel {
  padding: 10px;
}
li {
  list-style: none;
}

.form-group{
  margin: 20px;
}
#submitButton {
  margin: 5px;
}
table {
  display: flex;
  margin: 10px;
  margin-right: auto;
  color: var(--raisin-black);
}

#addCart {
 margin: 5px;
}