:root {
  /*
    Name variables by their use: background-light, text-dark, etc.
    -> Thus no need to change them throughout the document every time a color changes
  */

  --main: #f5f536;
  --text-dark: #443850;
  --text-light: #f9f8f8;
  --background-light: #f9f8f8;
  --background-darker: #C0C5C1;
  --background-even-darker: #7D8491;
}


body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--background-light);
}

nav {
  background-color: var(--main);
  font-family: 'Nunito', sans-serif;
}

.products-display {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.product-thumbnail {
  display: inline-block;
  height: 200px;
  width: 31%;
  margin: 1%;
  background-color: var(--background-even-darker);
}

#productsdiv {
  min-height: 80vh;
}

#loginform {
  min-height: 72vh;
}

.navbar-left 

#searchbar {
  width: 500px;
  left: 50px;
  padding: 5px;
  
}
#carouselImage {
  height: 50vh;
  
}

footer {
  position: relative;
  bottom: 0;
  background-color: var(--background-darker);
  
}
#text {
  color: var(--text-dark);
  font-size: 23px;
}
#icon{
  text-decoration: none;
  color: var(--text-dark);
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  padding: 5px;
  
}

.bi{
 margin-left: 20px;
  
}

.nav-item a {
  text-decoration: none;
}

#navbarDropdown {
  color: var(--text-dark);
  font-size: 23px;
}

.dropdown-item:hover {
  color: var(--text-light);
  background-color: var(--background-even-darker);
}

.carousel {
  padding: 10px;
}
li {
  list-style: none;
}

.form-group{
  margin: 20px;
}
#submitButton {
  margin: 5px;
}
table {
  display: flex;
  margin: 10px;
  margin-right: auto;
  color: var(--text-black);
}

#addCart {
 margin: 5px;
}